@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --theme-color: #70C000;
    --theme-color-active: rgba(112, 192, 0, .6);
    --w-alpha-5: rgba(255, 255, 255, .05);
    --w-alpha-10: rgba(255, 255, 255, .1);
    --w-alpha-15: rgba(255, 255, 255, .15);
    --w-alpha-20: rgba(255, 255, 255, .2);
    --w-alpha-30: rgba(255, 255, 255, .3);
    --w-alpha-50: rgba(255, 255, 255, .5);
    --w-alpha-60: rgba(255, 255, 255, .6);
    --w-alpha-70: rgba(255, 255, 255, .7);
    --w-alpha-80: rgba(255, 255, 255, .8);
    --w-alpha-90: rgba(255, 255, 255, .9);
    --bg-w-p: white;
    --bg-w-s: rgb(245, 245, 245);
    --bg-w-pure: white;
    --bg-w-245: rgb(245, 245, 245);
    --txt-w-pure: white;
    --txt-b-pure: black;
    --txt-b-tip: rgba(0, 0, 0, .8);
    --b-alpha-5: rgba(0, 0, 0, .05);
    --b-alpha-10: rgba(0, 0, 0, .1);
    --b-alpha-15: rgba(0, 0, 0, .15);
    --b-alpha-20: rgba(0, 0, 0, .2);
    --b-alpha-30: rgba(0, 0, 0, .3);
    --b-alpha-35: rgba(0, 0, 0, .35);
    --b-alpha-40: rgba(0, 0, 0, .4);
    --b-alpha-50: rgba(0, 0, 0, .5);
    --b-alpha-60: rgba(0, 0, 0, .6);
    --b-alpha-70: rgba(0, 0, 0, .7);
    --b-alpha-80: rgba(0, 0, 0, .8);
    --b-alpha-90: rgba(0, 0, 0, .9)
}

html {
    height: 100%
}

body {
    height: 100%;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #333;
    font-family: "PingFang SC", "Microsoft Yahei", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none
}

#app {
    height: 100%;
}

a {
    text-decoration: none;
    transition: .25s
}

a.link {
    color: var(--theme-color);
    border-bottom: 1px solid transparent;
    cursor: pointer
}

a.link:hover {
    border-color: var(--theme-color)
}

a.link:active {
    border-color: var(--theme-color-active);
    color: var(--theme-color-active)
}

p {
    transition: .25s
}
